h1{

	text-align: center;
	text-decoration: underline;
	color:blueviolet;
    font-variant: small-caps;


}
body{
	background-color: #C0BBC9;
	margin: 0;
}
.jaguar{
	
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);

}
.delorean{
	
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);


}
.silvia{
	
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(-100%, -50%);
}



.boton1{	display: block;
	position: absolute;
	left: 12%;
	top: 75%;
	transform: translate(0, -70%);
	background-color: violet;
	color: white;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.boton2{	display: block;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -70%);
	background-color: violet;
	color: white;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.boton3{	display: block;
	position: absolute;
	left: 86%;
	top: 75%;
	transform: translate(-90%, -70%);
	background-color: violet;
	color: white;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.botones{
	background-color: violet;
	color: white;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;


}
.compra{
	background-color: violet;
	color: white;
	padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

}
header {
           
            color: #C0BBC9;
			width: 100vw;
			height: 20vh;
			background: linear-gradient(#C0BBC9, #6b97f7, #7525e2, #f7137e);
			background-size: 130% 130%;
			animation: gradient-animation 6s ease infinite;
        }
        header nav ul {
            list-style: none;
            padding: 14px;
            margin: 1px;
        }
        header nav ul li {
            display: inline; 
            margin-right:200px; 
			margin-left: 110px
        }
        header nav ul li a {
            text-decoration: none;
            color: #fff;
        }
           

   